# Exclude unnecessary files
chromedriver.exe
page_source.html
scrape_shl_catalog.py
shl_assessments.csv
shl_assessments_preprocessed.csv
preprocess_assessments.py
data_representation.py
__pycache__/
.streamlit/